html {
  scroll-behavior: smooth;
}

/* NAV CSS */
.nav-link {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}

.nav-link:hover {
  background-color: #292929;
  color: rgb(212, 212, 212);
}

/* Hero CSS */
.principal-name {
  font-size: 2em;
}

.image-project {
  box-sizing: border-box;
  margin: 20px 0px;
  width: 70%;
  height: 90%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hr-hero {
  width: 100%;
  margin: 20px auto;
}

.writing {
  text-align: center;
  display: block;

  border-right: 1px solid white;

  overflow: hidden;
  white-space: nowrap;

  width: 0;

  animation: mark 0.5s step-end infinite, write 6s steps(23, end) infinite;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: white;
  background-color: rgb(48, 48, 48);
}

@keyframes write {
  20% {
    width: 16.5ch;
  }

  70% {
    width: 16.5ch;
  }

  85% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}

@media (min-width: 300px) {
  .image-project {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 420px) {
  .image-project {
    box-sizing: border-box;
    margin: 20px 0px;
    width: 70%;
    height: 90%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 900px) {
  .hr-hero {
    margin: 35px auto;
  }
  #projects {
    padding: 440px 20px;
  }
}

@media (min-width: 1110px) {
  .hr-hero {
    margin: 60px auto;
  }
}
